<app-top-bar></app-top-bar>
 <h2>Products</h2>

<div class="container">
    <a routerLinkActive="active" 
       routerLink="/redmi">Redmi</a> <br>

    <a routerLinkActive="active" 
       routerLink="/poco">PocoF1</a> <br>

    <a routerLinkActive="active" 
      routerLink="/oneplus">OnePlus 7</a> <br>

    <a routerLinkActive="active" 
      routerLink="/realme">Realme</a> <br>

    <a routerLinkActive="active" 
      routerLink="/honour">Honour</a> <br>
             
      <router-outlet></router-outlet>
</div>
